
{% extends 'photo_app/base.html' %}

{% block content %}

<!-- Header -->
<div id="wrapper">
	<header id ="header">
		<h1 class="text-center">A photo app to upload your best pictures!</h1>
		<br></br>
	</header>

	<section id="main">

		<!-- Area to display photos -->
		<section class="photos">


			{% if object_list %}
			<div class="container flex px-1">
				<div class="row" data-masonry='{"percentPosition": true }'>

				{% for photo in object_list %}
					<!-- Each images has the caption for user name-->
					<div class="col-md-4">

						<div class="card mb-3" style= "text-align:center;">
						  <img src="{{photo.image.url}}" class="card-img-top" alt="">
							<!-- Edit Button, Hover effects in my.css -->
							<a href="edit/{{photo.id}}/" class="btn b ">Edit
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
								  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
								</svg>

							</a>
						  <div class="card-body">
							<h3 class="card-title">{{photo.name}}</h3>
						  </div>
						</div>
					</div>


				{% endfor %}
				</div>
			</div>
			{% else %}
				<p>No photos have been uploaded.</p>
			{% endif %}
				</div>
		</section>

		<br><br>

		<a href="{% url 'add' %}" class="btn btn-secondary mx-auto d-block" style="font-size : 40px; width: 50%;">Upload your own Photo</a>
		<br></br>


	</section>
<!-- Script to get cool masonry layout with cards -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


{% endblock content %}

